body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}
* {
    font-family: "Roboto";
}
.container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
}

.Spinner {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 150px;
        height: auto;
        animation: loading_sprite 1s steps(1, start) infinite forwards;
    }
    @keyframes loading_sprite {
        8.33% {
            transform: translate(-9%, -4.5%);
        }
        16.66% {
            transform: translate(-56.1%, -4.5%);
        }
        24.99% {
            transform: translate(-9%, -19.9%);
        }
        33.32% {
            transform: translate(-56.1%, -19.9%);
        }

        41.65% {
            transform: translate(-9%, -35.3%);
        }

        49.98% {
            transform: translate(-56.1%, -35.3%);
        }
        58.31% {
            transform: translate(-9%, -50.7%);
        }
        66.64% {
            transform: translate(-56.1%, -50.7%);
        }
        74.97% {
            transform: translate(-9%, -66.1%);
        }
        83.30% {
            transform: translate(-56.1%, -66.1%);
        }
        91.63% {
            transform: translate(-9%, -81.45%);
        }
        100% {
            transform: translate(-56.1%, -81.45%);
        }
    }
}

.AddPostBar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    div {
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 50px;
        left: 0%;
        background: rgb(255, 45, 85);
        position: absolute;
        pointer-events: initial;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
