.CreatePost {
    width: 100%;
    min-height: 100vh;
    background: #ffc0cb5c;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CreatePost .container {
    margin-top: 40px;
    width: 700px;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
    h2 {
        color: #ff3a30;
        text-align: center;
    }
    h3 {
        color: #ff3a30;
    }
    input,
    textarea {
        width: 100%;
        height: 32px;
        margin: 0px auto;
        border: 1px solid rgba(0, 0, 0, 0.53);
        outline: none;
        background: #fff;
        box-sizing: border-box;
        padding: 0 5px;
    }
    textarea {
        width: 100%;
        height: auto;
        min-height: 200px;
        padding: 5px;
    }
    .errorMsg {
        color: rgba(0, 0, 0, 0.53);
        margin: 0 0 6px 0;
        display: inline-block;
        font-size: 13px;
        margin-left: 5px;
    }
    input[type="submit"] {
        border: 1px solid #ff3b30;
        background: #ff3b30;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}
